@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
/* #Primary
================================================== */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #333;
    overflow-x: hidden;
}

section {
    padding: 80px 0;
}

th,
td {
    vertical-align: middle !important;
}

a {
    color: #3ec423;
}

a:hover {
    color: #3ec423;
}

a.text-green:focus {
    box-shadow: none;
}

.tex-center {
    text-align: center;
}

.pt-50 {
    padding-top: 50px;
}

.p-100 {
    padding: 100px 0;
}

.p-150 {
    padding: 150px 0;
}

.modal-backdrop.show {
    opacity: .8;
}

.btn-green {
    border-color: #3ec423;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    background-color: #3ec423;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
}

.btn-green:hover {
    color: #3ec423;
    background-color: #fff;
    border-color: #3ec423;
}

.btn-green-outline {
    color: #3ec423;
    background-color: #fff;
    border-color: #3ec423;
}

.btn-green-outline:hover {
    color: #fff;
    background-color: #3ec423;
    border-color: #3ec423;
}

.w-100 {
    width: 100%;
}

.text-red {
    color: #e90010;
}

.text-green {
    color: #3ec423;
}

:root {
    --main-color-green: #3ec423;
    --main-color-red: #e90010;
}

.box-shadow {
    box-shadow: 0 0 10px #eae4e4;
}

.br-10 {
    border-radius: 10px;
}

img.title-img {
    width: 25%;
    padding-bottom: 15px;
}

/*header*/
.navbar {
    background: #f8faf7;
    box-shadow: 0 0 10px #e1e0e0;
    color: #333;
}

a.nav-link {
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #3ec423;
}

.nav-item {
    padding-right: 15px;
}

a.nav-link ion-icon {
    color: #333;
}

.nav-link i {
    padding-right: 8px;
    font-size: 17px;
}

.navbar-brand {
    margin-right: auto;
}

.select_language a {
    color: #333;
}

.navbar-brand img {
    width: 65%;
}

.select_language .ct-language__dropdown li {
    padding: 10px 20px;
    margin: 5px 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #333;
}

.align-items {
    align-items: center;
}

/*banner*/
.banner {
    background: url(../images/baner-bg.png);
    /*background-position: bottom;*/
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-text h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.3;
}

.baner-image {
    text-align: center;
    padding: 15px;
}

/*.search-box {
    background: #fff;
    box-shadow: 0 0 10px #aaa6a6;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 30px;
}*/

.input-group-text {
    background: #3ec423;
    border: 1px solid #3ec423;
    color: #fff;
}

.location-search {
    width: 80%;
    margin: 0 auto;
}

.form-control.location-box {
    padding: 10px;
}

/*Choose Page*/
.section-title h2 {
    display: block;
    font-size: 35px;
    font-weight: 800;
}

.choose-box img {
    width: 40%;
}

.choose-box {
    text-align: center;
    margin: 25px;
}

.choose-title {
    font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
}

/*works section*/
.works {
    background: url(../images/work-bg.png);
    background-size: cover;
    background-position: bottom;
}

.img-bg {
    background: #b3e5a8;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

.works-list {
    text-align: center;
}

.works-list ul {
    padding-inline-start: inherit;
}

.works-list ul li {
    list-style: none;
    display: inline-block;
    margin: 65px 0px 30px;
    /*width: 19%;*/
    position: relative;
    padding: 0px 20px;
    vertical-align: top;
}

.works-list ul li span {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 7px solid #e5f3e2;
    position: relative;
    margin: 0px 0px 23px;
    border-radius: 100%;
    background: #b3e5a8;
    text-align: center;
}

.works-list ul li span img {
    margin-top: 15%;
    width: 60%;
}

.works-list ul li h6 {
    margin: 0px;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 16px;
}

.works-list ul li:before {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    color: #e4e4e4;
    right: -30px;
    top: 10%;
    font-size: 50px;
    margin: 7px 0px 0px;
}

.works-list ul li:last-child:before {
    display: none;
}

/*slider carousel*/
.client-logo {
    border-top: 2px solid #f8faf7;
    border-bottom: 2px solid #eee;
    padding: 0px 0;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*testimonial*/
.testimonial {
    margin: 25px 15px;
    padding-right: 30px;
}

.testimonial .description {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #696969;
    padding: 25px 20px;
    border: 1px solid #d3d3d3;
}

.testimonial .description:after {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
    border-color: #d3d3d3;
    position: absolute;
    bottom: -11px;
    left: 6%;
    transform: skewY(-45deg);
}

.testimonial .pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0px;
    display: inline-block;
    float: left;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .testimonial-title {
    display: inline-block;
    text-transform: capitalize;
    margin-top: 35px;
    float: left;
    padding: 0 10px;
}

.testimonial .testimonial-title span {
    color: #3498db;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial .testimonial-title small {
    display: block;
    font-size: 14px;
}

.owl-theme .owl-controls {
    position: absolute;
    bottom: 10%;
    right: 10px;
}

.owl-theme .owl-controls .owl-buttons div {
    border-radius: 0;
    background: #3ec423 !important;
    opacity: 1 !important;
    padding: 3px 8px;
}

.owl-prev:before,
.owl-next:before {
    content: "\f053";
    font-family: FontAwesome;
    font-weight: 900;
    color: #fff;
}

.owl-next:before {
    content: "\f054";
}

@media only screen and (max-width: 767px) {
    .testimonial .description {
        font-size: 14px;
    }

    .testimonial .description:after {
        left: 14%;
    }
}

@media only screen and (max-width: 479px) {
    .owl-theme .owl-controls {
        bottom: 0;
    }

    .testimonial .description:after {
        left: 18%;
    }
}

.testimonial-right {
    padding-left: 100px;
    border-left: 1px solid #eee;
}

/*counter section*/
.counter {
    background: url(../images/counter-bg.png);
    padding: 50px 0;
}

.counter-box img {
    padding-bottom: 10px;
    width: 55px;
}

.counter-box h4 {
    font-weight: 700;
}

.counter-box p.nums {
    font-size: 30px;
    font-weight: 800;
}

/*above footer*/
.image-box {
    margin: 10px;
}

.image-box img {
    border: 3px solid #f8faf7;
    border-radius: 7px;
    margin-bottom: 10px;
}

h4.title {
    padding: 7px 0;
    font-weight: 600;
}

/*footer*/
.footer {
    background: #3ec423;
    color: #fff;
    padding: 0px;
}

.top-footer {
    padding: 50px;
}

.footer-widget h4:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 50%;
}

ul.footer-menu {
    padding-left: 0px;
    margin-top: 20px;
}

ul.footer-menu li {
    list-style: none;
    padding-bottom: 10px;
}

ul.footer-menu li a {
    color: #fff;
}

ul.footer-menu li i {
    padding-right: 15px;
}

ul.social-links {
    list-style: none;
    display: flex;
    padding-left: 0;
}

ul.social-links li {
    background: #fff;
    margin-right: 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

ul.social-links li i {
    padding: 9px;
    color: #3ec423;
}

.bottom-footer {
    padding: 15px;
    border-top: 1px solid #fff;
}

/*signin form*/
.modal-dialog {
    margin-top: 4%;
}

form.signin-form {
    padding: 40px;
}

form.signin-form .form-control {
    margin-bottom: 26px;
    padding: 15px;
    border: 1px solid #eee;
}

.form-control {
    margin-bottom: 26px;
    padding: 15px;
    border: 1px solid #eee;
}

.btn-login i {
    padding-left: 15px;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #3ec423;
}

.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0)scale(.5);
    transform: translate(0, 0)scale(.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0)scale(1);
    transform: translate(0, 0)scale(1);
}

.verification-box {
    width: 15%;
    display: inline-block;

    /*padding-left: 65px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 300px;
    min-width: 220px;
    margin: auto;
    margin-left: 100px;*/
}

/*Sign up Profile Upload*/
.avatar-upload {
    position: relative;
    max-width: 160px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    left: 38px;
    bottom: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #e90010;
    border: 3px solid #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #3ec423;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*end Signup Profile*/

:placeholder {
    color: #eee !important;
}

/*card page*/
.card-box {
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0 0 10px #b2aeae;
    border-radius: 10px;
}

/*radio btn styles*/
.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #3ec423;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #3ec423;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #3ec423;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

/*profile page*/
.nav-pills {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-pills>li {
    float: none;
    display: inline-block;
}

.profile-baner {
    background-image: url(../images/profile-banner.png);
}

.nav-pills {
    border-bottom: 1px solid #eee;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3ec423;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.order-btm-text {
    text-align: left;
    padding-top: 15px;
}

.order-box {
    box-shadow: 0 0 10px #eae4e4;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
}

.order-bottom {
    border-top: 2px dotted #bab8b8;
}

/* order Timeline  Tracker */
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: contents;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #3ec423;
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid #f8faf7;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    /*left: 50%;*/
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #3ec423;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: #f8faf7;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.1em;
}


.favourites {
    box-shadow: 0 0 10px #eae4e4;
    border-radius: 10px;
}

.fav-slider .owl-controls {
    position: unset;
    bottom: 10%;
    right: 10px;
}

/*inc dec*/
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0;
    /* background: #eee; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 28px;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

label {
    width: 100%;
}

.radio {
    cursor: pointer;
}

.radios input[type=radio] {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    /* width: 1.4em;
  height: 1.4em;*/
    position: relative;
    margin-right: 10px;
    /*top: -0.2em;
  margin-right: 1em;*/
    /*vertical-align: top;*/
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

input#number,
input#number1 {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 49px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.coupon-box {
    height: 38px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 4px;
    /*margin-right: 3%;*/
}

i.select-item {
    position: absolute;
    float: right;
    margin-bottom: 10px;
    display: inherit;
    background: #3ec423;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    right: 20px;
    top: 10px;
}

.plus-icon {
    background: #3ec423;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 10px !important;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-right: 10px;
}

.table-cart {
    border: 1px solid #eee;
}

.table td,
.table th {
    border: 1px solid #eee;
    font-weight: 600;
    color: #18181D;
    border: 1px solid #F0F2F3;
    padding: 3px;
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
}

#DataTables_Table_0 .table td,
.table th {
    border: 1px solid #eee;
    font-weight: 600;
    color: #18181D;
    border: 1px solid #F0F2F3;
    padding: 3px;
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
}

button.removefromcart {
    background: transparent;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    font-weight: 500;
}

.apply-coupons {
    width: 50%;
    float: left;
}

.apply-coupons input.form-control {
    height: 50px;
    padding: 8px 15px;
    border: 1px solid #F0F2F3;
    border-radius: 25px;
    color: #6e6e6e;
    background-color: #fff;
}

.apply-coupons button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    background-color: #3ec423;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 25px;
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Store Page*/
.filter-top {
    display: flex;
    align-items: baseline;
    vertical-align: middle;
}

.filter-top h6 {
    padding-right: 15px;
}

.section.portfolio .filters {
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: fit-content;
    background: #fff;
}

.section.portfolio .filters ul {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section.portfolio .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.section.portfolio .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}

.section.portfolio .filters ul li:hover {
    background: #3ec423;
    color: #fff;
    border-radius: 6px;
}

.section.portfolio .filters ul li.active {
    background: #3ec423;
    color: #fff;
    border-radius: 6px;
}

.section.portfolio .filters-content {
    margin-top: 50px;
}

.section.portfolio .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
}

.section.portfolio .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
}

.section.portfolio .filters-content .item {
    height: 100%;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    line-height: normal;
    text-decoration: none;
    outline: 0;
    padding: 15px;
    position: relative;
    background-color: #fff;
    display: block;
    border-radius: 10px !important;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    padding: 20px;
    box-shadow: none;
}

section.portfolio.section {
    background: #ebebeb;
    padding: 70px 0;
}

.filter-item {
    margin-top: 15px;
}

.section.portfolio .filters-content .item .p-inner {
    padding: 15px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    min-height: 102px;
}

.section.portfolio .filters-content .item .p-inner h5 {
    font-size: 17px;
    font-weight: 600;
}

.section.portfolio .filters-content .item .p-inner .cat {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*.section.portfolio .filters-content .item img {
  width: 50%;
  padding: 10px;
  margin-top: 5%;

}
*/
.store-inline-wrap {
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0;
}

.container--fixed {
    max-width: 1362px;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.store-inline {
    margin-right: 150px;
}

.store-inline {
    padding: 15px;
}

.store-inline .tile-media {
    margin-left: -15px;
    margin-right: 15px;
}

.tile-media {
    display: block;
    position: relative;
    margin: auto;
    max-width: 100%;
}

.tile-media:before {
    position: relative;
    content: "";
    display: block;
}

.shop__logo {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
}

.store-inline .tile-media img {
    max-width: 100%;
}

.store-info .title {
    font-size: 1.5rem;
    padding: 0;
}

/*===============================
=            Choices            =
===============================*/
.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
}

.choices:focus {
    outline: none;
}

.choices:last-child {
    margin-bottom: 0;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
    background-color: #EAEAEA;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.choices.is-disabled .choices__item {
    cursor: not-allowed;
}

.choices[data-type*="select-one"] {
    cursor: pointer;
}

.choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 7.5px;
}

.choices[data-type*="select-one"] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    margin: 0;
}

.choices[data-type*="select-one"] .choices__button {
    background-image: url("../../icons/cross-inverse.svg");
    padding: 0;
    background-size: 8px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: .5;
}

.signin-step1 {
    width: 80%;
    margin: auto;
}

.choices[data-type*="select-one"] .choices__button:hover,
.choices[data-type*="select-one"] .choices__button:focus {
    opacity: 1;
}

.choices[data-type*="select-one"] .choices__button:focus {
    box-shadow: 0px 0px 0px 2px #00BCD4;
}

.choices[data-type*="select-one"]:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}

.choices[data-type*="select-one"].is-open:after {
    border-color: transparent transparent #333333 transparent;
    margin-top: -7.5px;
}

.choices[data-type*="select-one"][dir="rtl"]:after {
    left: 11.5px;
    right: auto;
}

.choices[data-type*="select-one"][dir="rtl"] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
}

.choices[data-type*="select-multiple"] .choices__inner,
.choices[data-type*="text"] .choices__inner {
    cursor: text;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: 8px;
    padding-left: 16px;
    border-left: 1px solid #008fa1;
    background-image: url("../../icons/cross.svg");
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: .75;
}

.choices[data-type*="select-multiple"] .choices__button:hover,
.choices[data-type*="select-multiple"] .choices__button:focus,
.choices[data-type*="text"] .choices__button:hover,
.choices[data-type*="text"] .choices__button:focus {
    opacity: 1;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding: 7.5px 7.5px 3.75px;
    border: 1px solid #DDDDDD;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: #b7b7b7;
}

.is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.choices__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%;
}

[dir="rtl"] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
}

.choices__list--single .choices__item {
    width: 100%;
}

.choices__list--multiple {
    display: inline;
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #00BCD4;
    border: 1px solid #00a5bb;
    color: #FFFFFF;
    word-break: break-all;
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}

[dir="rtl"] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaaaaa;
    border: 1px solid #919191;
}

.choices__list--dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all;
}

.choices__list--dropdown.is-active {
    display: block;
}

.is-open .choices__list--dropdown {
    border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: .25rem .25rem 0 0;
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
}

[dir="rtl"] .choices__list--dropdown .choices__item {
    text-align: right;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 100px;
    }

    .choices__list--dropdown .choices__item--selectable:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }

    [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
        right: auto;
        left: 10px;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: .5;
}

.choices__item {
    cursor: default;
}

.choices__item--selectable {
    cursor: pointer;
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .5;
}

.choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray;
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.choices__button:focus {
    outline: none;
}

.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
}

.choices__input:focus {
    outline: 0;
}

[dir="rtl"] .choices__input {
    padding-right: 2px;
    padding-left: 0;
}

.choices__placeholder {
    opacity: .5;
}

/*=====  End of Choices  ======*/
* {
    box-sizing: border-box;
}

.s003 {

    padding: 15px;
}

.s003 form {
    width: 100%;
    max-width: 790px;
    margin-bottom: 0;
}

.s003 form .inner-form {
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.s003 form .inner-form .input-field {
    height: 68px;
}

.s003 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 16px;
    color: #555;
}

.s003 form .inner-form .input-field input.placeholder {
    color: #888;
    font-size: 16px;
}

.s003 form .inner-form .input-field input:-moz-placeholder {
    color: #888;
    font-size: 16px;
}

.s003 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #888;
    font-size: 16px;
}

.s003 form .inner-form .input-field input:hover,
.s003 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
    border-color: #fff;
}

.s003 form .inner-form .input-field.first-wrap {
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.s003 form .inner-form .input-field.first-wrap .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    height: 100% !important;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px 30px;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    color: #888;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #555;
}

.s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 30px;
    border-color: #e5e5e5 transparent transparent transparent;
}

.s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
    border: 0;
    background: #fff;
    padding: 20px 15px;
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}

.s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: #fff;
    color: #63c76a;
}

.s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
    color: #555;
    min-height: 24px;
}

.s003 form .inner-form .input-field.second-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.s003 form .inner-form .input-field.third-wrap {
    width: 74px;
}

.s003 form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: #3ec423;
    transition: all .2s ease-out, color .2s ease-out;
}

.s003 form .inner-form .input-field.third-wrap .btn-search svg {
    width: 16px;
}

.s003 form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #50c058;
}

#signup .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}

#signup .text-light {
    color: #fff !important;
}

.s003 form .inner-form .input-field.third-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

#signin1 .text-light {
    color: #fff !important;
}

.bg-primary {
    background-color: #3ec423 !important;
}

#signin1 .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
}

@media screen and (max-width: 992px) {
    .s003 form .inner-form .input-field {
        height: 50px;
    }

    #login-modal .modal-lg,
    .modal-xl {
        max-width: 800px !important;
    }

    #login-modal .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media screen and (max-width: 1199px) {
    .store-action-wrapper {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.store-single-page {
    background: #ebebeb;
    padding-top: 50px;
}

.store-action-wrapper {
    -webkit-box-pack: center;
    justify-content: center;
    padding: 20px 0;
}

@media screen and (max-width: 767px) {
    .s003 form .inner-form {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px;
    }

    .s003 form .inner-form .input-field {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .s003 form .inner-form .input-field input {
        padding: 10px 15px;
    }

    .s003 form .inner-form .input-field.first-wrap {
        width: 100%;
        border-right: 0;
    }

    .s003 form .inner-form .input-field.first-wrap .choices__inner {
        padding: 10px 15px;
    }

    .s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
        right: 11.5px;
        border-color: #e5e5e5 transparent transparent transparent;
    }

    .s003 form .inner-form .input-field.second-wrap {
        width: 100%;
        margin-bottom: 30px;
    }

    .s003 form .inner-form .input-field.second-wrap input {
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .s003 form .inner-form .input-field.third-wrap {
        margin-bottom: 0;
        width: 100%;
    }
}

.store-inline-wrap,
.store-iniline-info {
    padding: 30px 0 10px;
}

.baner-tab {
    background-color: #fff;
}

.white-fill {
    background-color: #fff;
}

.store-nav-header {
    position: relative;
}

.main-page-nav .page-nav-listing {
    margin-left: -15px;
    margin-right: -15px;
}

.main-page-nav .page-nav-listing li {
    display: inline-block;
    padding: 0 15px;
}

.main-page-nav .page-nav-listing li a {
    color: #333;
    display: inline-block;
    padding: 10px;
    padding-top: 13px;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
    border-width: 0 0 3px;
    border-style: solid;
    border-color: transparent;
}

section.store-white-wrapper.white-fill {
    padding: initial;
}

.store-action-wrapper {
    -webkit-box-pack: center;
    justify-content: center;
    padding: 20px 0;
}

.main-page-nav .page-nav-listing li .is-active {
    border-color: #2d9ff3;
    font-weight: 700;
}

.section.portfolio .filters-content .item img {
    width: auto;
    padding: 10px;
    min-height: 170px;
    object-fit: contain;
    max-height: 170px;
    display: block;
    margin: auto;
}

.overlay {
    position: absolute;
    background: #3ec423c4;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
}

.overlay-btn {
    top: 45%;
    left: 35%;
    position: absolute;
}

.overlay-btn a {
    background: #fff;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
}

.overlay-btn:hover a {
    background: transparent !important;
    border: 1px solid #fff;
    color: #fff !important;
    text-decoration: none;
}

.section.portfolio .filters-content .item:hover .overlay {
    opacity: 1;
}

/*Store View*/
.store-item {
    text-align: center;
}

.store-item img {
    width: 40%;
    margin-bottom: 15px;
}

.expanding-search-form {
    position: relative;
    top: 40%;
    /*left: 35%;*/
    display: inline-block;
    height: 34px;
    width: auto;
}

.expanding-search-form .search-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*border: 1px solid #999;*/
    z-index: 2;
    cursor: pointer;
    border-radius: 3px;
    transition: 250ms all ease-in-out;
}

.expanding-search-form .search-input {
    position: relative;
    position: relative;
    top: 0;
    display: inline-block;
    height: 35px;
    width: 350px;
    float: left;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #e0dcdce8;
    font-size: 16px;
    border-bottom: 1px solid #e0dcdce8;
    z-index: 2;
    box-shadow: none;
    border-radius: 0;
    transition: 250ms all ease-in-out;
}

.expanding-search-form .search-input::placeholder {
    padding-left: 20px;
}

.expanding-search-form .search-input:focus {
    width: 300px;
    outline: none;
}

.expanding-search-form .search-input:focus+.search-label {
    border-color: #2299ff;
}

.expanding-search-form .button {
    position: relative;
    top: 0;
    display: inline-block;
    float: left;
    padding: 1px 10px;
    color: #fff;
    border: 1px solid #e0dcdce8;
    background-color: #3ec423;
    text-align: center;
    transition: 250ms all ease-in-out;
}

/*.expanding-search-form .button:hover {
  background-color: #0080ee;
}*/
.expanding-search-form .search-dropdown {
    position: relative;
    top: 0;
    display: inline-block;
    float: left;
    /*padding: 3px;*/
}

.expanding-search-form .search-input:placeholder {
    padding: 10px;
}

.expanding-search-form .search-dropdown.open .dropdown-menu {
    display: block;
}

.expanding-search-form .dropdown-toggle {
    height: 35px;
    font-size: 15px;
    line-height: 28px;
    border-radius: 2px;
    z-index: 3;
    font-weight: 500;
    background: #fff !important;
}

.expanding-search-form .dropdown-menu {
    position: absolute;
    top: calc(100% - 1px);
    display: none;
    margin: 0;
    padding: 5px;
    list-style: none;
    background-color: #fff;
    /*border: 1px solid #999;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 3;
    transition: 250ms all ease-in-out;
}

.expanding-search-form .dropdown-menu>li>a {
    display: block;
    padding: 4px 12px;
    color: #5d5e5f;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    border-radius: 2px;
    transition: 250ms all ease-in-out;
}

.expanding-search-form .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #5d5e5f;
}

.expanding-search-form .dropdown-menu>.menu-active {
    display: none;
}

.expanding-search-form .search-button {
    height: 35px;
    z-index: 3;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.expanding-search-form .search-button .icon {
    font-size: 20px;
}

/*product slider*/
/*.product-outer {
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}*/
.store-single-page .product-item {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #F0F2F3;
    box-shadow: 0 3px 24px rgb(0 0 0 / 4%);
    border-radius: 8px;
    margin-bottom: 30px;
    margin-right: 15px;
    min-height: 300px;
}

.store-single-page .product-item .products {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-outer {
    padding-bottom: 10px;
    border-bottom: 1px dashed #bebfc5;
}

.carousel-head {
    background-color: #fff;
    border-radius: 5px !important;
    margin: 0px;
    padding: 10px !important;
}

.products h5 {
    font-size: 16px;
    font-weight: 600;
}

.products h6 {
    font-size: 14px;
    font-weight: 600;
}

.products p {
    font-size: 12px;
}

.products .product-img {

    display: inline-block;
}

.products .product-img img {
    width: 60%;
}

.product-carousel .owl-controls {
    position: unset;
}

.product-carousel .owl-prev {
    float: left;
    margin-top: -12% !important;
    margin-left: -3% !important;
}

.product-carousel .owl-next {
    float: right;
    margin-top: -12% !important;
    margin-right: -3% !important;
}

.owl-theme .owl-controls .owl-buttons div {
    padding: 3px 8px !important;
}

.carousel-top {
    border-bottom: 1px solid #ece4e4;
    padding: 10px 0px 0px 20px;
}

.carousel-top p {
    margin-bottom: 0;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}

.nav-tabs .nav-link.active {
    border: 0;
}

#tabs li.nav-item {
    padding-right: 0px !important;
}

#tabs li.nav-item a:hover {
    border: 0px solid !important;
    color: #3ec423;
    font-weight: 600;
}

#tabs li.nav-item a.active {
    font-size: 14px;
    text-transform: capitalize !important;
    color: #3ec423;
    font-weight: 500;
    border-bottom: 2px solid;
}

#tabs li.nav-item a {
    font-size: 13px;
    text-transform: capitalize !important;
}

.tab-pane {
    padding: 20px;
}

.product-item:hover .overlay {
    opacity: 1;
}

a.view-link {
    border-left: 1px solid;
    padding: 0 20px;
}

a.view-link i {
    padding-left: 10px;
}

/*search page */
.filter-box {
    border: 1px solid #ddd;
    background: #e2e2e2;
    border-radius: 10px;
}

.filter-header {
    background: #3ec423;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
}

.filter-header p {
    margin-bottom: 0px;
}

.filter-block {
    padding: 15px;
}

.filter-block h5 {
    font-weight: 600;
    font-size: 18px;
}

.filter-block h6 {
    font-size: 15px;
    padding: 10px;
}

form.filter-checks {
    padding-left: 20px;
}

/* The container */
.filter-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.filter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.filter-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked~.checkmark {
    background-color: #3ec423;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.search-right {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.has-botom-border {
    border-bottom: 1px solid #e2dfdf;
}

form.select-box select {
    background: #e9eceb !important;
    padding: 3px 15px !important;
    border: 0px solid !important;
    border-radius: 5px !important;
    color: #4e5050 !important;
}

.search-content .item {
    text-align: center;
    cursor: pointer;
    position: relative;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-content .item img {
    width: 50%;
    padding: 10px;
    margin-top: 5%;
}

.search-content .item .p-inner {
    padding: 20px 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.search-content .overlay-btn {
    left: 15%;
    top: 30%;
}

.search-content .overlay-btn-dark {
    left: 15%;
    top: 30%;
}

.search-content .item .p-inner h5 {
    font-size: 17px;
    font-weight: 600;
}

.search-content .item .p-inner .cat {
    font-size: 13px;
}

.search-content .item:hover .overlay {
    opacity: 1;
}

.search-content a.overlay-btn {
    background: transparent;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

.search-content a.overlay-btn:hover {
    background: #fff;
    color: #333;
}

.search-content a.overlay-btn-dark {
    background: #fff;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    margin-top: 30%;
    position: absolute;
    text-decoration: none;
}

.search-content a.overlay-btn-dark:hover {
    background: transparent;
    color: #fff;
    border: 1px solid;
}

form.store-dropdown select {
    border: 0;
    padding: 5px 10px;
    margin-left: 10px;
    background: #d4d3d1;
    font-weight: 600;
}

.text-light {
    color: #abadaf !important;
}

a.like {
    background: #3ec423;
    padding: 4px;
    margin-left: 10px;
    color: #fff;
}

a.unlike {
    background: #c44823;
    padding: 4px;
    margin-left: 10px;
    color: #fff;
}

.info-icon {
    padding-left: 10px;
    font-size: 15px;
}

.search-bottom {
    margin-top: 60px;
    border: 1px solid #eee;
}

.search-bottom p {
    font-weight: 600;
}

/* product popup*/
.maxi {
    width: 100%;
    height: 350px;
    object-fit: none;
    box-shadow: none !important;
    border: 1px solid #ebe9e9;
    border-radius: 10px;
}

.mini {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

.mini img {
    width: 70px;
    border: 1px solid #e0d9d9;
}

.xzoom-thumbs {
    margin-top: 10px;
}

.product-discription p {
    font-size: 13px;
    padding-top: 15px;
}

.product-discription h5 {
    font-weight: 600;
}

.cart-btn {
    background: #3ec423;
    margin-left: 10px;
    color: #fff;
    background-color: #3ec423;
    outline: none;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
}

.cart-btn i {
    padding-left: 10px;
}

.cart-btn:hover {
    color: #fff;
}

.fav-icon {
    background: red;
    margin-left: 10px;
    padding: 5px 7px;
    border-radius: 5px;
}

.icon-wishlist {
    cursor: pointer;
    width: 22px;
    height: 21px;
    background: url(../images/heart-outline.svg);
}

.icon-wishlist.in-wishlist {
    opacity: 1;
    animation-name: wishlist-ani;
    animation-duration: 1000ms;
    background: url(../images/fill-heart.svg);
}

.product-tab {
    /*padding: 25px;*/
}

.product-tab .nav-link {
    font-weight: 600;
    padding: 15px 5px;
    margin-top: 10px;
}

.product-rows {
    padding-bottom: 10px;
    border-bottom: 1px dashed #bebfc5;
    padding-left: 15px;
    padding-right: 15px;
}

.related-products-rows .search-content .item {
    border: 1px solid #fdfdfd;
    min-height: 260px;
    background: #fdfdfd;
}

.related-products-rows .search-content .item img {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.related-products-rows .search-content .item h6 {
    font-size: 16px;
}

.related-products-rows {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.product-tab .nav-link.active {
    color: #3ec423;
}

.product-tab .nav-link:hover {
    border: 0;
    color: #3ec423;
}

.tab-content p {
    font-size: 13px;
    margin-top: 15px;
    line-height: 1.7;
}

.tab-content li {
    font-size: 13px;
    line-height: 1.7;
}

/* refer page*/
.refer-right {
    background: #f0f2f3;
    padding: 20px;
}

.bordered {
    border: 1px solid #d8d0d0;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-copy {
    color: #fff;
    background-color: #3ec423;
    border-color: #3ec423;
    padding: 5px 15px;
    border-radius: 5px;
}

.small-text {
    font-size: 12px;
}

.f-bg {
    background: #2323ab;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

.t-bg {
    background: #4a4ad6;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.i-bg {
    background: #222223;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.l-bg {
    background: #3f3fc3;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.mail-icon {
    width: 7%;
    padding-right: 10px;
}

.progress {
    height: 10px;
}

.baner-tab .nav-tabs .nav-link.active {
    color: #3ec423;
    font-weight: 600;
    border-bottom: 1px solid;
}

.baner-tab p {
    margin-bottom: 0px !important;
}

.login-head a.navbar-brand {
    width: 100%;
    display: block;
}

/*=====================================================
Login CSS
=====================================================*/

.login {
    position: relative;
}

.login-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #109a2e !important;
    opacity: 0.5;
}

.login-content {
    position: relative;
    padding: 100px 0;
}

.login-content-inner {
    max-width: 400px;
    margin: 0px auto;
    background: #fff;
    padding: 30px;
}

.login-head {
    text-align: center;
}

.forgot-link {
    margin-top: 15px;
    display: inline-block;
    font-size: 13px;
}

.log-txt {
    margin-top: 10px;
    margin-bottom: 0;
}

/*  custom css*/
.intl-tel-input {
    width: 1%;
    float: left;
}

.phone-number {
    width: 85% !important;
    float: left !important;
    margin: 0 !important;
    margin-left: 11% !important;
    border-left: 0 !important;
}

.no-margin {
    margin: 0;
}

.is-shown.hover:hover a {
    color: #000 !important;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-t-0 {
    padding-top: 0;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h5 {
    line-height: 1.5em;
}

.main-menu.menu-dark .navigation>li.active {
    border-left: 4px solid #11a030;
}

.common-tab.nav-tabs .nav-item {
    margin: 0;
    float: none;
    text-align: center;
}

.common-tab.nav-tabs .nav-item .nav-link {
    padding: 12px;
    border-radius: 0;
    border: 0;
    transition: background .2s ease-in;
}

.common-tab.nav-tabs .nav-item .nav-link:hover,
.common-tab.nav-tabs .nav-item .nav-link:focus {
    background-color: #11a030;
    color: #fff;
}

.common-tab.nav-tabs .nav-item .nav-link.active {
    border-radius: 0;
    background-color: #11a030;
    color: #fff;
}



.card-txt {
    color: #fff;
    margin-bottom: 7px;
    /*font-size: 13px;*/
}

.com-img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -7px rgb(255, 109, 0);
    position: relative;
}

.order-img {
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -7px rgb(255, 109, 0);
    position: relative;
}

.modal-backdrop {
    background-color: #000;
}

.easy-autocomplete input {
    border: 1px solid #eee !important;
}

/*.modal-dialog {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .3);
}*/

.pending-block {
    margin-bottom: 20px !important;
    position: relative;
}

.del-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 23px;
}

.order-modal-top {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
    padding: 20px;
}



.dis-left::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.dis-left::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.dis-left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.dis-right {
    height: 400px;
}

.dispatcher {
    padding-bottom: 30px;
}

.batch {
    margin-bottom: 10px;
    display: inline-block;
    /*background-color: #1DE9B6;*/
    border-color: #fff;
    background-color: #fff;
    color: #11a030;
}

.add-btn {
    color: #fff !important;
}

.table-btn {
    margin-right: 0 !important;
    display: inline-block;
    padding: 3px;
}

.table-btn i {
    font-size: .9em;
}

#read-only-stars img {
    height: 9px;
}

.table-prof-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 3px 15px -2px rgba(255, 109, 0, 0.68);
}

.rating-symbol {
    color: #11a030;
    font-size: 12px;
    margin-right: 2px;
}

/*Admin CSS*/
.card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    color: #272b41;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    background: #fff;
    border-radius: 10px !important;
    margin-bottom: 25px !important;
    box-shadow: 0 5px 20px rgb(146 153 184 / 1%);
    border-top-right-radius: 10px !important;
}

.card-footer:last-child,
.card-header:first-child,
.card-img {
    border-top-right-radius: 10px !important;
    border-radius: 0;
    border-top-left-radius: 10px !important;
}

.white {
    color: #11a030 !important;
}

.bg-gradient-x-primary {

    background-image: #fff !important;

}

.main-menu.menu-dark .navigation li a {
    color: #fffafa;
    font-weight: 500;
}

.dis-left {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 0;
    background: transparent;
    box-shadow: none;
}

.pending-dp-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    box-shadow: none;
    margin: 0 auto 30px;
}

.signup-step1 {
    width: 80%;
    margin: auto;
}

.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    top: -20px;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-control-label::before {
    position: absolute;
    top: .05rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: .05rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: 50%/50% 50% no-repeat;
}

.select-country .dropdown-menu.show li {
    padding: 10px;
}

.dropdown.select-country button {
    background: #343a40;
    border-color: #343a40;
}

.dropdown.select-country button:hover {
    background: #343a40;
    border-color: #343a40;
}

.dropdown.select-country button:active {
    background: #343a40;
    border-color: #343a40;
}

.dropdown.user-d-down button {
    background: transparent;
    border: none;
}

.dropdown.user-d-down button:hover {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.dropdown.user-d-down button:focus {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.dropdown.user-d-down button:active {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.user-d-down span {
    color: #000;
}

.user-d-down .dropdown-menu.show li {
    padding: 10px;
}

.user-d-down span.caret {
    color: #000 !important;
}

.user-d-down .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #000;
}

.user-d-down .btn-primary:not(:disabled):not(.disabled).active,
.user-d-down .btn-primary:not(:disabled):not(.disabled):active,
.user-d-down .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.user-d-down .btn-primary:not(:disabled):not(.disabled).active:focus,
.user-d-down .btn-primary:not(:disabled):not(.disabled):active:focus,
.user-d-down .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}

.dropdown.user-d-down button:active {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.cart-count-new a {
    color: #24262b;
    font-size: 21px;
    position: relative;
    letter-spacing: -6px;
}

.cart-count-new a span.item-count {
    background: #3ec423;
    display: inline-block;
    font-size: 11px;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 600;
}

.cart-count-new {
    margin-left: 10px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-100 input#login_code {
    margin-bottom: 0px !important;
}

.mt-100 input#phone_number {
    margin-bottom: 0px !important;
}

.mt-100 button.btn.btn-dark.btn-lg.btn-block.my-4 {
    margin-top: 0px !important;
}

.handle-block button {
    margin-bottom: 20px;
}

.app-content.content.container-fluid .btn.btn-success {
    margin-bottom: 10px;
}

.app-content.content.container-fluid select#dispute_order_status {
    padding: 15px !important;
}

.app-content.content.container-fluid select#dispute_order_status {
    padding: 13px !important;
    margin-bottom: 0px !important;
}

.app-content.content.container-fluid input.form-control {
    margin-bottom: 0px !important;
}

.app-content.content.container-fluid .form-group.col-md-6 {
    padding: 0px;
    padding-right: 5px;
}

.order-box-section a.disputedetails.order-box.active {
    display: block !important;
    padding: 15px;
    border: 1px dashed;
}

a.disputedetails.order-box {
    margin-top: 10px !important;
    display: block;
    padding: 15px;
}

table#DataTables_Table_0 a.btn.btn-primary.btn-darken-3.tab-order {
    margin-bottom: 10px;
}

.dd-ss input#country_code {
    padding: 15px !important;
}

.card-box.table-responsive {
    padding: 20px;
}

.card-box.table-responsive textarea#description {
    height: 48px;
}

.card-box.table-responsive textarea#address {
    height: 48px;
}

.card-box.table-responsive select#status {
    padding: 15px !important;
}
.tttt .box.box-block.bg-white {
    padding: 25px;
}

